@model List<PhotoStorage.Models.Photo>
@{
    ViewData["Title"] = "Video Gallery";
}

<h1 class="mb-4">Public Video Gallery</h1>

<div class="row">
    @foreach (var video in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="@Url.Action("WatchVideo", "Photos", new { id = video.Id })">
                    <img src="@Url.Content("~/uploads/" + video.UserId + "/" + video.ThumbnailFileName)" 
                         class="card-img-top" alt="@video.Title">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@video.Title</h5>
                    <p class="card-text">@video.Description</p>
                </div>
            </div>
        </div>
    }
</div>